<layout name="layout" />
<link href="__CSS__font-awesome.css" rel="stylesheet"> 
<div class="col-md-12 graphs">
	 <div class="xs">
  	 <h3>Basic Tables</h3>
  	<div class="bs-example4" data-example-id="contextual-table">
      <ul class="nav nav-tabs" role="tablist" id="nav_tabs">
          <li class="active"><a href="" >管理员</a></li>
          <li><a href="{:U('User/add')}">添加管理员</a></li>
      </ul>
    <div class="tab-content">      
        <table class="table table-striped">
          <thead>
            <tr>
              <th>全选</th>
              <th scope="row">#</th>
              <th>用户名</th>          
              <th>最后登录IP</th>
              <th>最后登录时间</th> 
              <th>邮箱</th>
              <th>状态</th>          
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          <volist name="members" id="vo" key="ids">
            <tr>
              <th scope="row"><input type="checkbox" id="checkboxSuccess" value="{$vo.id}"></th>
              <th scope="row">{$ids}</th>
              <th>{$vo.username}</th>
              <td>{$vo.last_login_ip}</td>
              <td>{$vo.last_login_time}</td>
              <td>{$vo.user_email}</td>          
              <td><eq name="vo.status" value="1"><font color="red">√</font><else/><font color="red">╳</font></eq></td>
              <td>
                <a href="{:U('User/edit',array('id'=>$vo['id']))}" role="button" class="btn btn-warning btn-xs" <eq name="vo['id']" value="1">disabled</eq> >编辑</a>
                <a href="{:U('User/del_user?id='.$vo['id'])}" role="button" class="btn btn-success btn-xs" <eq name="vo['id']" value="1">disabled</eq> >删除</a>
                <a href="{:U('User/ban?id='.$vo['id'])}" role="button" class="btn btn-success btn-xs" <eq name="vo['id']" value="1">disabled</eq> >禁用</a>
              </td>
            </tr>
          </volist>
          
          </tbody>
        </table>
        
    </div>
    
   </div>
  
  </div>
  </div>
 <include file="Public:footer" />
       
</div>

